{% extends "base.html" %} {% block title %}Bucket List{% endblock %}

{% block content %}
<script type="text/javascript" src="../static/index.js"></script>
<br />
<h1 align="center" id="h1tag">Bucket List</h1>
<br />
<ul class="list-group list-group-flush" id="notes">


    {% for note in user.notess %} 
    <li id= "note_list_back"class="list-group-item">
        {{ note.data }}
        <button id="x_button" type="button" class="close" onclick="deleteBucket('{{ note.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>



    {% endfor %}
</ul>
<form method="POST">
    <textarea id="note" name= "note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary" id="loginbutton">Add Activity</button>
    </div>
</form>
{% endblock %}