{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<form method="POST">

<br />
<br />
<h2 align="center" id="h2tag">Login</h2>
<br />
<br />
<br />
    <div class="form-group">
        <label id="field_label" for="email">Email</label>
        <input 
        type="email" 
        class="form-control"
        id="input"
        name="email"
        placeholder="Enter Email"
        />
    </div>
    <div class="form-group">
        <label id="field_label" for="password1">Passsword</label>
        <input 
        type="password" 
        class="form-control"
        id="input"
        name="password"
        placeholder="Enter Password"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" Id="loginbutton">Login</button> 
    <br />
    <br />
    <br />
</form>
{% endblock %}